@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  font-family: 'Red Hat Display';
}

.title {
  font-weight: 900;
  font-size: 28px;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  color: hsl(224, 23%, 55%);
}

.heading {
  font-weight: 700;
  font-size: 20px;
}
